:root {
    --primary-color: #3cc5dd;
}
* {
    box-sizing: border-box;
}
body {
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
}
.img {
    width: 300px;
}
h1 {
    color: var(--primary-color);

}
p {
    text-align: center;
}

.currency {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.currency select {
    padding: 10px 20px 10px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid #0cbcdb;
    background: transparent;
   

}
.currency input {
    border: 1px solid #0cbcdb;
    background: transparent;
    font-size: 30px;
    text-align: right;

}
.swap-rate-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rate {
    color: var(--primary-color);
    font-size: 14px;
    padding: 0 14px;
}
select:focus, input:focus, button:focus {
    outline: 0;
}
@media (max-wigth: 600px) {
    .currency input {
        width: 200px;
    }  
}


.btn {
  -moz-box-shadow: 0px 10px 14px -7px #276873;
  -webkit-box-shadow: 0px 10px 14px -7px #276873;
  box-shadow: 0px 10px 14px -7px #276873;
  background-color: -webkit-gradient(
      linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99)
  );
background: -moz-linear-gradient(center top, #599bb3 5%, #408c99 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99');
background-color: #599bb3;
-webkit-border-top-left-radius: 8px;
-moz-border-radius-topleft: 8px;
border-top-left-radius: 8px;
-webkit-border-top-right-radius: 8px;
-moz-border-radius-topright: 8px;
border-top-right-radius: 8px;
-webkit-border-bottom-right-radius: 8px;
-moz-border-radius-bottomright: 8px;
border-bottom-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-left-radius: 8px;
text-indent: 0;
display: inline-block;
color: #ffffff;
font-family: arial;
font-size: 15px;
font-weight: bold;
font-style: normal;
height: 50px;
line-height: 50px;
width: 100px;
text-decoration: none;
text-align: center;
text-shadow: 0px 1px 0px #3d768a;
}
.btn:hover {
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, #599bb3), 
        color-stop(1, #408c99)
    );
background: -moz-linear-gradient(center top, #408c99 5%, #599bb3 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3');
  background-color: #408c99;
}
.btn:active {
    position: relative;
    top: 3px;
}